body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;

  /*background picture*/
  background-image: url("background.jpg");  
  background-size: cover;                  
  background-repeat: no-repeat;            
  background-position: center;             
  background-attachment: fixed;
}

h1 {
  color: #01ffea;
}

p {
  color: aqua;
}

audio {
  display: none;
}

#word {
  color: rgb(255, 255, 255);
  font-size: 30px;
  letter-spacing: 10px;
  margin: 20px 0;
}
input, button, select {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
}
button {
  background: #4CAF50;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
button:hover {
  background: #45a049;
}
#message {
  font-size: 18px;
  margin-top: 20px;
  color: #ff0800;
}
canvas {
  margin-top: 20px;
  border: 1px solid #ffffff;
}

